{% extends 'estore/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Invoice</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        {% if messages %}
        {% for message in messages %}
        <div class="container mb-5 alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        <h4 class="h4 text-uppercase">Invoice Details</h4>
        <br />
        <p class="ml-4 medium"><strong>Invoice Number: </strong>{{invoice.invoice_number}}</p>

        <table class="table">
            <tbody>
                <tr>
                    <td class="border-0">
                        <p class="ml-3 medium"><strong>Amount: </strong>{{invoice.amount.amount}}
                            {{invoice.amount.code}}</p>
                    </td>
                    <td class="border-0">
                        <p class="medium"><strong>Paid: </strong>{{invoice.paid.amount}} {{invoice.paid.code}}</p>
                    </td>
                    <td class="border-0">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Record payment
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h4 class="h4 text-uppercase mt-4">Items</h4>

        <div class="row">
            <div class="col-lg-8 mt-3 mb-4 mb-lg-0">
                <div class="table-responsive mb-4">
                    <table class="table">
                        <thead class="bg-light">
                            <tr>
                                <th class="border-0" scope="col"> <strong
                                        class="text-small text-uppercase">Name</strong></th>
                                <th class="border-0" scope="col"> <strong
                                        class="text-small text-uppercase">Rate</strong></th>
                                <th class="border-0" scope="col"> <strong
                                        class="text-small text-uppercase">Quantity</strong></th>
                                <th class="border-0" scope="col"> <strong
                                        class="text-small text-uppercase">Total</strong></th>
                                <th class="border-0" scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in invoice.lines %}
                            <tr>
                                <td class="align-middle border-0">
                                    <p class="mb-0 small">{{item.name}}</p>
                                </td>
                                <td class="align-middle border-0">
                                    <p class="mb-0 small">{{item.unit_cost.amount}} {{item.unit_cost.code}}</p>
                                </td>
                                <td class="align-middle border-0">
                                    <p class="mb-0 small">{{item.qty}}</p>
                                </td>
                                <td class="align-middle border-0">
                                    <p class="mb-0 small">{{item.amount.amount}} {{item.amount.code}}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="bg-light px-2 py-2">
                    <div class="table-responsive">
                        <h5 class="h5">Send Invoice by Email</h4>
                            <form method="post" action="{% url 'estore:email' invoice.id %}" class="form">
                                {% csrf_token %}
                                <table class="table">
                                    <tr>
                                        <th class="border-0" scope="col">
                                            <input name="email" class="form-control" type="text"
                                                placeholder="Email address">
                                        </th>
                                        <th class="border-0" scope="col">
                                            <button name="submit" class="btn btn-primary btn-md">Send</button>
                                        </th>
                                    </tr>
                                </table>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Record a payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'estore:payment' invoice.id %}" class="form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <th class="border-0" scope="col">
                                    <p>Enter the amount:</p>
                                </th>
                                <th class="border-0" scope="col">
                                    <input name="amount" class="form-control" type="number" min="0"
                                        oninput="validity.valid||(value='');" placeholder="Amount">
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button name="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}